*{
    margin: 0px;
    padding: 0px;
   
    
    
}
#container{
    width: 1000px;
    height: 500px;
    border: 1px solid white;
    background-color: black;
}
span{
    position: relative;
    top: 250px;
    left: 350px;
    color: white;
    font-size: 60px;
    
}
.box{
    width: 150px;
    height: 150px;
    box-shadow: 0px 2px 2px 0px white;
    position: absolute;
    border: 1px;
    
    background-color: aquamarine;
    animation: square 3s linear  infinite alternate;
    animation-play-state: running; 
    animation-fill-mode: both;
    
    
}
@keyframes square {
    0%{ background-color: #FF339C;
        left: 0px;
        top: 100px;
    }
    25%{ background-color: #33FFF6;
        left: 810px;
        top: 100px;
    }
    50%{
        background-color: #5533FF;
        left: 810px;
        top: 400px;

    } 
    75%{ background-color: #FF333F;
        left: 0px;
        top: 400px;

    }
    100%{ background-color: #33FFD4;
        left: 0px;
        top: 100px;
    }
    
}
@media mobile and (min-width:350px) and (max-width:720px)  {
    .box{
        width: 100px;
        height: 100px;
        box-shadow: 0px 2px 2px 0px white;
        position: absolute;
        border: 1px;
        background-color: aquamarine;
        animation: square 3s linear  infinite alternate;
        animation-play-state: running; 
        animation-fill-mode: both;
        
    }
     span{
        position: relative;
        top: 400px;
        left: 220px;
        color: white;
        font-size: 40px;
        
     }
     #container{
        width: 600px;
        height: 1000px;
     }
     @keyframes square {
        0%{ background-color: #FF339C;
            left: 0px;
            top: 100px;
        }
        25%{ background-color: #33FFF6;
            left: 495px;
            top: 100px;
        }
        50%{
            background-color: #5533FF;
            left: 495px;
            top: 700px;
    
        } 
        75%{ background-color: #FF333F;
            left: 0px;
            top: 700px;
    
        }
        100%{ background-color: #33FFD4;
            left: 0px;
            top: 100px;
        }
        
    }
    
}



    
    


